<%= form_for(@article) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, :class => 'form-input cell' %>
  </div>
  <div class="form-group">
    <%= f.label :content %> <br>
    <%= f.text_area :content, :placeholder => "Hi, nice site", :size => "80x10", :class=> 'form-input cell' %>
  </div>
  <%= f.submit :class => 'btn btn-primary' %>
<% end %>
