<div class="wrapper">
  <div class="content">
    <ul>
      <% @articles.each do |article| %>
        <% url = article.id %>
        <li>
          <h3><%= link_to article.title, article_path(article)%></h3>
          <div class="toolbar">
            <a href='/articles/<%= url %>/edit'><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            <%= link_to "Edit", edit_article_path(article) %> |
            <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/articles/<%= url %>"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a> <%= link_to "Delete", article_path(article), method: :delete, data: { confirm: "Are you sure?" } %>
          </div>
          <div class="content-txt"><%= article.content[0..300] %>...</div>
          <div>
            <a href="/articles/<%= url %>"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
            <%= link_to "Lire la suite", article_path(article)%></div>
        </li>
      <% end %>
    </ul>
    <p style="text-align: center; margin-top: 20px"><%= link_to "Add a new article", new_article_path, class:"btn btn-primary" %></p>
  </div>
</div>
